/* operations运算
* 在less中 算术运算符+、-、*、/可以对任何数字、颜色或变量进行运算
* 算术运算符在加减或比较之前会进行单位换算 计算结果以最左侧操作数的单位类型为准
* 如果单位换算无效或失去意义 则忽略单位
**/
.operation {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin-top: 6px;
}
