/*
* 在原来css编写中 多个选择器中可能会有大量相同的代码
* 我们希望可以将这些代码进行抽取到一个独立的地方，任何选择器都可以进行复用
* 在less中提供混入（Mixins）来帮助完成这些操作
* Mixins混入和extend作用类似用于复用代码，但继承最终会转化成并集选择器。
  .border {
    border: 1px solid black;
  }
  .box {
    width: 100px;
    background-color: #0f0;
    &:extend(.border);
  } => 转化css
  .border, .box {
    border: 1px solid black;
  }
   .box {
    width: 100px;
    background-color: #0f0;
  }
* Mixins混入比extend更灵活
*/
.nowrap_ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.box1_size {
  width: 150px;
  height: 50px;
}
.box1 {
  width: 150px;
  background-color: #0f0;
  margin-top: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 5px solid purple;
}
