.articledetailContainer, .commentContainer {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 2rem;
  background-color: #fff;
  overflow: hidden;
}
.title {
  font-size: 30px;
  font-weight: bolder;
}
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}
.info {
  margin-left: 10px;
}
.name {
  font-size: 14px;
  font-weight: bold;
}
.date {
  display: flex;
  font-size: 12px;
  color: #8a919f;
  > div {
    margin-right: 10px;
  }
  a {
    color: #1e80ff;
  }
}

.markdown {
  img {
    width: 100%;
  }
}

.divider {
  background-color: aliceblue;
  height: 20px;
}

.enter {
  display: flex;
  align-items: center;
}
.content {
  width: 100%;
  margin-left: 20px;

  > button {
    margin-top: 20px;
  }
}

.commentList {
  margin-top: 80px;
}
.commentItem {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;

  .commentInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
    .name {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 15px;
      font-weight: bold;

      .date {
        color: #8a919f;
        font-weight: normal;
      }
    }
  }

  > .commentContent {
    color: #515767;
    margin-top: 10px;
  }
}